/* ADD Product */

.container {
    width: 100%;
    background-color: var(--bgSoft);
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.form input,
.form textarea,
.form select {
    padding: 20px;
    border: 3px solid var(--bg);
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: var(--textSoft);
    font-size: 16px;
    letter-spacing: .5px;
}

.form input[type="file"] {
    color: var(--textSoft);
}


.form input::placeholder,
.form textarea::placeholder,
.form select::placeholder {
    color: var(--textSoft);
    letter-spacing: .5px;
}

.form input {
    width: 45%;
    color: var(--text);
}

.form select {
    width: 45%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form textarea {
    width: 100%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #082030 inset !important;
    -webkit-text-fill-color: var(--text) !important;
}

.submit {
    padding: 10px 15px;
    border-radius: 6px;
    outline: none;
    background-color: var(--action);
    border: none;
    color: var(--bg);
    font-size: 14px;
    cursor: pointer;
    transition: 300ms ease;
    font-weight: 600;
    margin-left: 10px;
}

.submit:hover {
    box-shadow: var(--action-hover) 0 0 6px;
    transition: 300ms ease;
    background-color: var(--action-hover);
}


.form input[type="file"]::file-selector-button {
    border: 1px solid var(--textSoft);
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--bg);
    color: var(--textSoft);
    transition: 300ms;
    margin-right: 10px;
    cursor: pointer;
}

.form input[type="file"]::file-selector-button:hover {
    transition: 300ms;
    background-color: var(--textSoft);
    color: var(--bgSoft);
}

@media screen and (max-width: 1070px) {

    .container {
        margin-top: 10px;
    }

    .form {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
    }

    .form input,
    .form select {
        width: 100%;
    }

    .submit {
        width: 150px;
    }

}