.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgSoft);
    padding: 10px;
    border-radius: 8px;
}

.title {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .5px;
    color: var(--text);
    font-size: 20px;
    padding: 10px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navStart {
    display: flex;
    align-items: center;

}

.search {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    padding: 0 10px;
    border-radius: 8px;
}

.input {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: var(--text);
}

.input::placeholder {
    color: var(--textSoft);
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.divider {
    display: none;
}

.dividerContent {
    display: none;
}


@media screen and (max-width: 1000px) {

    .divider {
        display: block;
        cursor: pointer;
    }

    .dividerContent {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: var(--bgSoft);
        padding: 20px;
        height: 100vh;
        width: 40%;
        transition: transform 0.5s ease;
        transform: translateX(-100%);
        border-radius: 0 10px 10px 0;
        border-right: 5px solid var(--bg);
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;

    }

    .showOverlay {
        display: block;

    }

    .showContent {
        transform: translateX(0);
        transition: transform 0.5s ease;
    }

    .dividerContent ul {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .container {
        width: 100%;
    }

    .dividerTop {
        display: flex;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .userImage {
        border-radius: 50%;
        object-fit: cover;

    }

    .userDetails {
        display: flex;
        flex-direction: column;
    }

    .username {
        font-weight: 700
    }

    .userTitle {
        font-size: 12px;
        color: var(--textSoft);
    }


}

@media screen and (max-width: 550px) {


    .search {
        padding: 10px;
        border-radius: 50%;
    }

    .menu {
        gap: 10px;
    }

    .searchIcon {
        font-size: 25px;
    }

    .input {
        display: none;
    }

    .dividerContent {
        width: 70%;
    }

    .cat {
        font-size: 12px;
    }



}