.container {
    display: flex;
    align-items: center;
    padding: 17px 10px;
    gap: 7px;
    border-radius: 8px;
    font-size: 14px;
    margin: 5px 0;
}

.container:hover,
.active {
    cursor: pointer;
    background-color: var(--hover);
}


@media screen and (max-width: 550px) {

    .container {
        font-size: 12px;
        padding: 15px 10px;
    }

}