.container {
    display: flex;
    background-color: var(--bgSoft);
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.container:hover {
    background-color: var(--hover);
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number {
    font-size: 25px;
    font-weight: 500;
}

.details {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    gap: 8px;

}

.positive {
    color: limegreen;
}

.negative {
    color: red;
}